Garbage Valley/.vs/
Garbage Valley/Assembly-Csharp.csproj
Garbage Valley/*.sln
Garbage Valley/*.csproj
Garbage Valley/Library/
Garbage Valley/Logs/
Garbage Valley/Packages/
Garbage Valley/Temp/
Garbage Valley/[Oo]bj/
Garbage Valley/*.csproj
test/